<!-- リスト２－７ -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <title>Index</title> -->
    <!-- リスト２－９ -->
    <title><%=title %></title>
    <!-- リスト２ー１２ -->
    <link type="text/css" rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- リスト２ー１２ -->
    <!-- <style>
        h1 {
            font-size: 60pt;
            color: #eee;
            text-align: right;
            margin: 0px;
        }
        body {
            font-size: 14pt;
            color: #999;
            margin: 5px;
        }
    </style> -->
    <header>
        <!-- <h1>Index</h1> -->
        <h1><%=title %></h1>
    </header>
    <div role="main">
        <!-- <p>This is Index Page.</p>
        <p>これは、EJSを使ったWebページです。</p> -->
        <%=content %>
        <!-- リスト２ー１５ -->
        <p><a href="/other">Other Pageに移動 &gt;&gt;</a></p>
    </div>
</body>
</html>